body {
    font-family: Inter;
    background-color: #454D6B;
}

header {
    width: 100%;
    height: 80px;
    background-color: #6495ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

main {
    height: calc(100vh - 80px);
    margin: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}

#user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#user-info > img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

#user-info > span {
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 20px;
}

header > button {
    width: 128px;
    height: 38px;
    background-color: #5C5D8D;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    font-family: Inter;
    font-size: 16px;
    cursor: pointer;
}

header > button:hover {
    background-color: white;
    color: #5C5D8D;
    border: 1px solid #5C5D8D;
}

form {
    position: relative;
}

form > input {
    border: none;
    width: calc(100% - 20px);
    min-height: 110px;
    background-color: #ECF0F1;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

form > input:focus {
    outline-color: #5C5D8D;
}

form > button {
    position: absolute;
    bottom: 3px;
    right: 24px;
    font-family: Inter;
    font-size: 29px;
    font-weight: 700;
    color: white;
    background-color: #5C5D8D;
    border: none;
    border-radius: 20px;
    padding: 2px 20px;
    cursor: pointer;
}

form > button:hover {
    background-color: white;
    color: #5C5D8D;
    border: 1px solid #5C5D8D;
}

form > input::placeholder {
    color: #363457;
}

#posts-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 56px;
}

li {
    width: 100%;
    background-color: #ECF0F1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 13px 0 22px 0;
}

li > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

li > div > img {
    width: 79px;
    height: 79px;
    border-radius: 50%;
}

li > div > h2 {
    font-size: 24px;
    color: #030000;
    font-weight: 700;
}

li > p, li > span {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    word-wrap: break-word;
}

li > span {
    margin-top: 12px;
}

.options-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
} 

.edit-btn, .remove-btn {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
} 



